# coding: utf-8

"""
    THORChain API

    This documentation outlines the API for THORChain.  NOTE: This document is a **work in progress**.  # noqa: E501

    OpenAPI spec version: 
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from thornode_client.api_client import ApiClient


class KeygenKeysignApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_keygen(self, height, pubkey, **kwargs):  # noqa: E501
        """Get Keygen  # noqa: E501

        Retrieve Keygen block from THORChain  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keygen(height, pubkey, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str height: block height (required)
        :param str pubkey: node public key (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_keygen_with_http_info(height, pubkey, **kwargs)  # noqa: E501
        else:
            (data) = self.get_keygen_with_http_info(height, pubkey, **kwargs)  # noqa: E501
            return data

    def get_keygen_with_http_info(self, height, pubkey, **kwargs):  # noqa: E501
        """Get Keygen  # noqa: E501

        Retrieve Keygen block from THORChain  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keygen_with_http_info(height, pubkey, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str height: block height (required)
        :param str pubkey: node public key (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['height', 'pubkey']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_keygen" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'height' is set
        if self.api_client.client_side_validation and ('height' not in params or
                                                       params['height'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `height` when calling `get_keygen`")  # noqa: E501
        # verify the required parameter 'pubkey' is set
        if self.api_client.client_side_validation and ('pubkey' not in params or
                                                       params['pubkey'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `pubkey` when calling `get_keygen`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'height' in params:
            path_params['height'] = params['height']  # noqa: E501
        if 'pubkey' in params:
            path_params['pubkey'] = params['pubkey']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/thorchain/keygen/{height}/{pubkey}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_keysign(self, height, pubkey, **kwargs):  # noqa: E501
        """Get Keysign  # noqa: E501

        Retrieve Keysign information from THORChain  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keysign(height, pubkey, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str height: block height (required)
        :param str pubkey: node public key (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_keysign_with_http_info(height, pubkey, **kwargs)  # noqa: E501
        else:
            (data) = self.get_keysign_with_http_info(height, pubkey, **kwargs)  # noqa: E501
            return data

    def get_keysign_with_http_info(self, height, pubkey, **kwargs):  # noqa: E501
        """Get Keysign  # noqa: E501

        Retrieve Keysign information from THORChain  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_keysign_with_http_info(height, pubkey, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str height: block height (required)
        :param str pubkey: node public key (required)
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['height', 'pubkey']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_keysign" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'height' is set
        if self.api_client.client_side_validation and ('height' not in params or
                                                       params['height'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `height` when calling `get_keysign`")  # noqa: E501
        # verify the required parameter 'pubkey' is set
        if self.api_client.client_side_validation and ('pubkey' not in params or
                                                       params['pubkey'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `pubkey` when calling `get_keysign`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'height' in params:
            path_params['height'] = params['height']  # noqa: E501
        if 'pubkey' in params:
            path_params['pubkey'] = params['pubkey']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/thorchain/keysign/{height}/{pubkey}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
